@import "../../App.scss";

;

.button {
  all: unset;
  margin: 20px 50px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 15px;
  height: 30px;
  width: fit-content;
  cursor: pointer;
  opacity: 0.8;
  background-color: $dark-green-color;
  color: $light-color;
  text-align: center;
  text-justify: auto;

  &:hover {
    opacity: 1;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
}