@import "../../App.scss";

.content {
  display: grid;

  grid-template-areas:
  "imgBackground imgBackground"
  "userImg userInfo"
  "postsArea postsArea";

  grid-template-rows: 100px 1fr 100%;
  grid-auto-columns: 1fr 2fr;
}