@import "../../App.scss";

.content {
  padding: 15px;

  .dialoguesListWrapper {
    border-right: $grey-color 2px solid;
    width: 230px;
    min-height: 70vh;
  }

  h3 {
    margin: 20px;
    color: $grey-color;
  }

  .dialogWrapper {
    align-items: center;
    margin: 10px 10px 10px 0;


    img {
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }

    p {
      padding-left: 5px;
      color: $grey-color;

      &.active {
        color: $dark-color;
      }

    }

    &:hover {
      background-color: $super-light-green-color;
      cursor: pointer;
      border-radius: 15px;
    }
  }

  .messagesWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 70px 30px 0 40px;
    padding: 30px;

    background-color: $chat-bright-green;
    border-radius: 15px;
    overflow: hidden;
  }

  .chatBackground {
    background-color: red;
    width: 10px;
    height: 20px;
  }

}