@import "../../../App.scss";


.postsArea {
  grid-area: postsArea;
  align-items: center;

  h3 {
    text-align: center;
  }
}

.postsList {
  display: flex;
  flex-direction: column-reverse;
}

.inputWrapper {
  display: flex;
  width: 100%;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: $light-grey-color;

}