@import "../../App.scss";

.header {
  background-color: $middle-green-color;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 5;

  img {
    width: 50px;
  }
h3 {
  color: $light-grey-color;
}

}