//variables

$light-color: #FAFAF9;
$dark-green-color: #486230;
$middle-green-color: #9eb08e;
$light-green-color: rgba(158, 176, 142, 0.44);
$light-grey-color: #f3f3f3;
$dark-color: #171D1F;
$grey-color: rgba(94, 96, 95, 0.74);
$brown-color: #8A846C;

//GENERAL STYLES:

a {
  all: unset;
  cursor: pointer;
}

.appWrapper {
  background-color: $light-color;
  width: 1200px;
  margin: 40px auto;

  display: grid;

  grid-template-areas:
  "header header "
  "navigation content ";

  grid-template-rows: 75px 15fr;
  grid-auto-columns: 1fr 2fr;
}

.navigation, .content {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  overflow: hidden;

}

.content {
  grid-area: content;
  grid-column-start: 2;
  grid-column-end: 5;
}

//OTHER STYLES